<section class="hero is-medium is-warning is-bold">
  <div class="hero-body">
    <div class="container">
      {{tasks/upsert-item model=loadedTask actionName=taskAction}}
    </div>
  </div>
</section>
