<section class="section">
  <div class="container">
    <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Descrição</th>
        <th colspan="2" class="has-text-centered">manhã</th>
        <th colspan="2" class="has-text-centered">tarde</th>
        <th class="has-text-right">total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Trabalhando em determinada tarefa muito importante com muita coisa para ser feita</td>
        <td class="has-text-centered">9:39</td>
        <td class="has-text-centered">12:01</td>
        <td class="has-text-centered">13:05</td>
        <td class="has-text-centered">18:33</td>
        <td class="has-text-right"><strong>7:50</strong></td>
      </tr>
    </tbody>
    </table>
  </div>
</section>
