<Views::Navbar />

{{outlet}}

<section class="section">
  <div class="container">
    <Tasks::ListItems @tasks={{@model}} />
  </div>
</section>

<Views::Footer />

<script>
  feather.replace()
</script>
