<Views::Navbar />

{{outlet}}

<section class="section" style="min-height: 400px;">
  <div class="container">
    <Tasks::ListItems @tasks={{@model}} />
  </div>
</section>

<Views::Footer />

<script>
  feather.replace()
</script>
